*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ecf0f1;
}

.content{
	width: 80%;
	height: 50%;
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.first-content{
	
	display: flex;
}

.first-column{
	text-align: center;
	flex: 1 0 auto;
}

.second-column{
	flex: 2 0 auto;
}
.list-social-midia{
	display:flex;
}

.form{
	display: flex;
	flex-direction: column;
}
.second-content{
	position: absolute;
	display: none;
}